In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('processed data/movies.csv')

In [3]:
df.head()

,Unnamed: 0,movies,year_of_release,year_end_series,movie_id
0,0,Blood Red Sky,2021.0,NaN,1146
1,1,Masters of the Universe: Revelation,2021.0,NaN,3752
2,2,The Walking Dead,2010.0,2022.0,6079
3,3,Rick and Morty,2013.0,NaN,4663
4,4,Army of Thieves,2021.0,NaN,837